.qtype{
  background: #fff;
  .csinglebox > ul {margin-left:0;}
  .csinglebox .ccheckbox{
    font-size: rem-calc(16px);
  }
  &>dl{
    margin-left: rem-calc(40px);
    position: relative;
    color:#333;
    &>dt{
      line-height: rem-calc(25px);
      vertical-align: middle;
      font-size: rem-calc(16px);
      position: relative;
      margin-bottom: rem-calc(5px);
      &>i{
        position: absolute;
        left: rem-calc(-35px);
        font-size: rem-calc(14px);
        font-weight: normal;
        font-style:normal;
        text-align: right;
        width: rem-calc(25px);
      }
      &>ul{display: table;width:100%;
        &>li{
          display: table-cell;
          list-style: none;
          vertical-align: top;
        }
        &>li:last-child{
          padding-right: rem-calc(15px);
          width: rem-calc(65px);
        }
      }
    }
    &>dd{
      textarea{
        border: 1px solid #e7e7e7;
        border-radius: 0.35714rem;
        -webkit-appearance: none;
        background: #efefef;
        font-size: rem-calc(16px);
      }
      .smokequestionbox{
        margin: rem-calc(10px) 0;
        &>ul>li{
          display: block;
        }
      }

      p{
        line-height: 20px;
        font-size: rem-calc(16px);
      }
      .questiontable{
        display: table;
        width:100%;
        line-height: 30px;
        height: 30px;
        vertical-align: top;
        font-size: rem-calc(16px);
        &>div{
          display: inline-block;
          &:first-child{
            /*width:rem-calc(100px);*/
            margin-right: rem-calc(10px);
          }
          &>.smokebox{
            position: relative;top: 3px;
            &>ul>li{
              display: inline-block;
              margin-right: rem-calc(10px);
            }
          }
        }
      }
      &>.reasonarea{
        width:92%;
        height: rem-calc(35px);
        padding: 4%;
        outline: none;
        height: rem-calc(80px);
      }
    }
    &>dd{
      padding-right: 15px;
      margin-top: rem-calc(5px);
      margin-bottom: rem-calc(10px);
      &>ul{
        &:after{
          display: block;
          width: 100%;
          clear:both;
          height: 0;
          overflow: hidden;
        }
        // display:table;
        display: block;
        width:100%;
        margin-right: rem-calc(15px);
        &>li{
          display: table-cell;
          // display: inline-block;
          list-style: none;
          font-size: rem-calc(16px);
          height: rem-calc(45px);
          line-height: rem-calc(45px);
          vertical-align: middle;
          &:first-child{
          }
          &:nth-child(2){

          }
          &:last-child{
            // width:rem-calc(60px);

            text-align: left
          }
          &>input[type="text"] {
            border-bottom: 1px solid #ddd;
            border-radius: 0;
          }
          &>input{
            width:100%;
            -webkit-appearance: none;
            border:none;
            height: 80%;
            font-size: rem-calc(16px);
            margin-bottom: 1px;
            outline: none;
            text-indent: rem-calc(10px);
          }
        }
      }
    }
  }
}
